@(id:Long, userForm: Form[tw.entities.Flight])

@import helper._



@main("Edit flight") {
    
    
    <h2>Edit flight</h2>
    
@if(flash.containsKey("fail")) {
        <div 
        <strong>Oops!</strong> @flash.get("fail")
        </div>
    }  else {
    <div> no flash </div>
    } 
        
    
    @form(routes.FlightController.update(id)) {
        
        <fieldset>
        @helper.textarea(userForm("s"));
		</fieldset>        
        <input type="submit" value="Update">
        
    }
    


}